.blog_container {
  width: 100%;
  /* background-color: red; */
}

.blog_container>h2 {
  font-weight: 800;
  font-size: 30px;
  line-height: 0.9;
  color: #94a3b8;
  padding: 20px 3px 22px 3px;
  position: relative;
  background-color: #1e293b;
  margin: 0 -25px;
  padding-left: 27px;
  border-bottom: 1px solid #38384a;
}

/* .blog_container>h2::after {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #222e41;
} */