.home_container {
  position: relative;
  /* background-color: #0e1629; */
  /* background-image: url('../public/bgCenter.png'); */
  background-repeat: repeat;
  width: calc(100% - 290px - 75px);
  height: calc(100vh - 2.4rem);
  padding: 0 1.54rem 0 1.54rem;
  overflow-y: scroll;
}

.home_container::-webkit-scrollbar {
  display: none;
}

.layout_topbar {
  display: none;
}

.layout_container {
  height: 100vh !important;
  width: 100vw !important;
  overflow-x: hidden !important;
  overflow-y: hidden;
  /* background: rgba(208, 0, 245, 0.7); */
  /* background: linear-gradient(45deg, #ec4899, #8b5cf6, #ec4899, #8b5cf6); */
  background-color: rgb(11 14 20);
  background-size: 400% 400%;
  transition: background 0.2s ease, background-size 0.2s ease;
}

.layout_margin {
  /* padding: 8px; */
  padding: 1.2rem;
  /* width: 1280px; */
  margin: 0 auto;
}

/* scrollbar  */

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #f5f5f5;
  overflow-y: scroll;
  margin-bottom: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

.force_overflow {
  min-height: 450px;
}

.home_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.home_container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.home_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

@media (max-width: 1280px) {
  .layout_margin {
    width: auto;
  }
}

@media (max-width: 768px) {
  .home_container {
    width: 100%;
  }

  .layout_margin {
    padding: 0;
    height: 100%;
  }

  .layout_topbar {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #1e293b;
    border-bottom: 1px solid #38384a;
    /* box-shadow: 0px 0px 8px rgb(0 0 0 / 30%); */
    color: #9c9ca2;
    align-items: center;
  }

  .layout_topbar_text {
    font-family: 'Great Vibes', cursive;
    font-size: 22px;
    font-weight: 800;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #ec4899, #8b5cf6, #ec4899, #8b5cf6);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientRotate 3s ease-in-out infinite;
  }

  @keyframes gradientRotate {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}